<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyc.remind.dao.BirthdayRemindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoyc.remind.entity.BirthdayRemind">
        <id column="id" property="id" />
        <result column="tmpl_id" property="tmplId" />
        <result column="gmt_remind" property="gmtRemind" />
        <result column="open_id" property="openId" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tmpl_id, gmt_remind, open_id, remarks
    </sql>

</mapper>
