<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyc.remind.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoyc.remind.entity.Member">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="nick_name" property="nickName" />
        <result column="gender" property="gender" />
        <result column="language" property="language" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="country" property="country" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="union_id" property="unionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, nick_name, gender, language, city, province, country, avatar_url, union_id
    </sql>

</mapper>
